:root {
  /* brand palette */
  --primary-100: #104547;
  --secondary-100: #4b5358;
  --accent-100: #6750ea;
  --accent-200: #5535c0;

  /* neutrals */
  --neutral-0: #ffffff;
  --neutral-50: #f5f5f5;
  --neutral-100: #e5e7eb;
  --neutral-300: #d1d5db;
  --neutral-700: #374151;
  --neutral-800: #1f2937;
  --neutral-900: #050505;

  /* misc */
  --shadow-sm: rgba(0, 0, 0, 0.06) 0 1px 2px;
  --shadow-md: rgba(0, 0, 0, 0.08) 0 3px 10px;
}
