/* -------------  Container  ------------- */
#auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--teriary-100);
  min-height: 100vh;
  padding: 24px;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  background: var(--neutral-white);
  max-width: 520px; /* mobile breakpoint */
  width: 100%;
  box-shadow: var(--shadow-md);
}

/* -------------  Purple visual ------------- */
.auth-visual {
  background: var(--accent-200);
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}

/* -------------  Form panel ------------- */
.auth-panel {
  padding: 32px 32px 40px;
}

.auth-panel h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 32px;
}

.auth-panel form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.auth-input {
  position: relative;
  input {
    padding: 25px 16px 10px 16px;
  }
  label {
    position: absolute;
    top: 6px;
    left: 14px;
    font-size: 12px;
    opacity: 0.7;
  }
}

.result-output {
  text-align: center;
  min-height: 20px;
  color: #d52727;
}

.auth-panel button {
  width: 100%;
}

.auth-subtext {
  text-align: center;
  margin-top: 24px;
  font-size: 14px;
}
.auth-subtext a {
  color: var(--accent-100);
}

/* -------------  Desktop layout ------------- */
@media (min-width: 768px) {
  .auth-wrapper {
    flex-direction: row;
    max-width: 860px;
  }
  .auth-visual {
    width: 50%;
    height: auto;
  }
  .auth-panel {
    width: 50%;
    padding: 48px 56px;
  }
}
