#auth-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--teriary-100);

    .auth-panel {
        width: 100%;
        background-color: var(--neutral-white);
        padding: 0 0 32px;
        border-radius: 12px;

        h1 {
            width: 100%;
            height: 64px;
            background-color: var(--primary-100);
            color: var(--neutral-white);
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            margin-bottom: 16px;
        }

        & > form {
            gap: 32px;
            width: 100%;
            padding: 0 32px;

            .auth-input {
                width: 100%;
                position: relative;

                & > label {
                    position: absolute;
                    left: 16px;
                    top: 8px;
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--neutral-black);
                    opacity: 0.75;
                }
            }

            .result-output {
                width: 100%;
                text-align: center;
            }
        }

        @media (min-width: 768px) {
            width: 400px;
        }
    }
}
