@import url("./utility/variables.css");
@import url("./utility/fonts.css");
@import url("./utility/typography.css") layer(base);
@import url("./utility/UI.css") layer(utilities);

/*--------------------  Global element reset  --------------------*/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--neutral-900);
  background: var(--neutral-50);
  scroll-behavior: smooth;
}

/*-----------------------  Utilities  ---------------------------*/
.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* hide helpers */
.hide-desktop {
  display: none;
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
  .hide-desktop {
    display: block !important;
  }
}
