/* ----------  NAVBAR  ---------- */
body {
  padding-top: 70px !important;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--primary-100);
  color: var(--neutral-white);
  box-shadow: 0 3px 10px var(--neutral-shadow);
  position: fixed; /* zostaje u góry przy scrollu */
  top: 0;
  left: 0;
  gap: 100px;
  width: 100%;
  margin-bottom: 50px;
  z-index: 999;
}

.top-nav .logo {
  font-size: 20px;
  font-weight: 700;
  color: var(--neutral-white);
  text-decoration: none;
}

.top-nav .username {
  font-size: 14px;
  margin-right: 16px;
  opacity: 0.85;
}

/* ----------  LOGOUT BUTTON  ---------- */
.logout-btn {
  padding: 8px 16px;
  background-color: var(--secondary-100);
  border-radius: 8px;
  color: var(--neutral-white);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 2px 6px var(--neutral-shadow);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.logout-btn:hover {
  background-color: var(--neutral-white);
  color: var(--primary-100);
  transform: translateY(-2px);
  cursor: pointer;
}
